<!DOCTYPE html>
<html class="ui-mobile-rendering">
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="css/themes/Bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile.structure-1.1.0.min.css">

  <link href="sass_css/app.css" rel="stylesheet" type="text/css">

  <!-- The Templates -->
  <script type="text/template" id="home">

    <div data-role="header" data-theme="a">
      <h1>BCP Field Contacts Online</h1>
    </div>
    <!-- /header -->


    <div data-role="content" data-theme="a">
      <div class="content-primary">

        <form>
          <ul data-role="listview">


            <li>
              <div style="padding-bottom:5px;">
                <select style="width:99%" id="state">
                  <option value="0">Select State</option>
                  <option value="NC">NC</option>
                  <option value="NY">NY</option>
                </select>
              </div>
              <div style="padding-bottom:5px;">
                <select style="width:99%" id="city">
                  <option value="0">Select City</option>
                  <option value="NC">Greensboro</option>
                  <option value="NY">Durham</option>
                </select>
              </div>
              <select style="width:99%" id="office">
                <option value="0">Select Office</option>
                <option value="NC">Office1</option>
                <option value="NY">Office2</option>
              </select>
            </li>

            <li>
              <span>Filter</span>
              <input type="text" name="development" id="firstName" placeholder="First Name" value=""/>

              <input type="tel" name="lot" id="lastname" placeholder="Last Name" value=""/>


              <fieldset data-role="controlgroup">
                <input type="radio" name="topHandrailStyle" id="Imperial" class="custom" checked="checked"/>
                <label for="Imperial">Active</label>

                <input type="radio" name="topHandrailStyle" id="5000_Classic" class="custom"/>
                <label for="5000_Classic">Inactive</label>
              </fieldset>

            </li>


          </ul>

        </form>
        <button id="search" class="btn-large btn-primary" style="width:100%;" data-role="none">Search</button>

      </div>
      <!--/content-primary -->

    </div>
    <!-- /content -->


  </script>

  <script type="text/template" id="searchResults">

    <div data-role="header">
      <a href="#" data-icon="back" data-iconpos="notext" class="back ui-btn-left">Back</a>

      <h1>Contacts Found</h1>
    </div>

    <div data-role="content" data-theme="a">
      <div class="content-primary">
        <ul data-role="listview" data-theme="a" data-dividertheme="a" data-filter="true" data-filter-theme="a" data-filter-placeholder="Filter...">
          <li data-role="list-divider">A</li>
          <li><a href="#">Adam Kinkaid</a></li>
          <li><a href="#">Alex Wickerham</a></li>
          <li><a href="#">Avery Johnson</a></li>
          <li data-role="list-divider">B</li>
          <li><a href="#">Bob Cabot</a></li>
          <li data-role="list-divider">C</li>
          <li><a href="#">Caleb Booth</a></li>
          <li><a href="#">Christopher Adams</a></li>
          <li><a href="#">Culver James</a></li>
          <li data-role="list-divider">D</li>
          <li><a href="#">David Walsh</a></li>
          <li><a href="#">Drake Alfred</a></li>
          <li data-role="list-divider">E</li>
          <li><a href="#">Elizabeth Bacon</a></li>
          <li><a href="#">Emery Parker</a></li>
          <li><a href="#">Enid Voldon</a></li>
          <li data-role="list-divider">F</li>
          <li><a href="#">Francis Wall</a></li>
          <li data-role="list-divider">G</li>
          <li><a href="#">Graham Smith</a></li>
          <li><a href="#">Greta Peete</a></li>
          <li data-role="list-divider">H</li>
          <li><a href="#">Harvey Walls</a></li>
          <li data-role="list-divider">M</li>
          <li><a href="#">Mike Farnsworth</a></li>
          <li><a href="#">Murray Vanderbuilt</a></li>
          <li data-role="list-divider">N</li>
          <li><a href="#">Nathan Williams</a></li>
          <li data-role="list-divider">P</li>
          <li><a href="#">Paul Baker</a></li>
          <li><a href="#">Pete Mason</a></li>
          <li data-role="list-divider">R</li>
          <li><a href="#">Rod Tarker</a></li>
          <li data-role="list-divider">S</li>
          <li><a href="#">Sawyer Wakefield</a></li>
        </ul>

      </div>
      <!--/content-primary -->


    </div>

  </script>

  <script type="text/template" id="page2">

    <div data-role="header">
      <a href="#" data-icon="back" data-iconpos="notext" class="back ui-btn-left">Back</a>

      <h1>Page 2</h1>
    </div>

    <div data-role="content">
      <p>This is Page 2. It was created dynamically using an underscore.js template.</p>

      <p>Navigate to:</p>
      <ul data-role="listview" data-inset="true">
        <li><a href="#">Home</a></li>
        <li><a href="#page1">Page 1</a></li>
      </ul>
    </div>

  </script>

  <!-- The Scripts -->
  <script src="javascripts/lib/jquery-1.7.1.min.js"></script>
  <script src="javascripts/jqm-config.js"></script>
  <script src="javascripts/lib/jquery.mobile-1.1.0.js"></script>
  <script src="javascripts/lib/underscore-min.js"></script>
  <script src="javascripts/lib/backbone-min.js"></script>
  <script src="javascripts/main.js"></script>
</head>

<body></body>

</html>